---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import PaginationComponent from '@/components/ui/pagination'
import SearchBar from '@/components/SearchBar.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts, groupPostsByYear } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allPosts = await getAllPosts()
  return paginate(allPosts, { pageSize: SITE.postsPerPage })
}

const { page } = Astro.props

const postsByYear = groupPostsByYear(page.data)
const years = Object.keys(postsByYear).sort((a, b) => parseInt(b) - parseInt(a))

// Flatten to know which post is first (it gets priority loading)
let globalIdx = 0
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Blog" />
  <Breadcrumbs
    items={[
      { label: 'Blog', href: '/blog', icon: 'lucide:library-big' },
      { label: `Page ${page.currentPage}`, icon: 'lucide:book-copy' },
    ]}
  />

  <!-- Search Bar for Blog -->
  <div class="mt-2 mb-4 sm:my-6">
    <SearchBar pageType="blog" />
  </div>

  <div>
    <h1
      class="tracking-title mb-4 font-[family-name:var(--font-heading)] text-2xl font-bold"
    >
      Blog posts
    </h1>
    <div class="prose mb-4">
      <p class="text-foreground mt-0">Read my latest blog posts</p>
    </div>
  </div>

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    {
      years.map((year) => (
        <section class="flex flex-col gap-y-4">
          <div class="text-sm font-medium">{year}</div>
          <ul class="grid grid-cols-2 gap-3 max-[480px]:grid-cols-1">
            {postsByYear[year].map((post) => {
              const isFirst = globalIdx === 0
              globalIdx++
              return (
                <li>
                  <BlogCard entry={post} priority={isFirst} />
                </li>
              )
            })}
          </ul>
        </section>
      ))
    }
  </div>

  <div class="mt-8">
    <PaginationComponent
      currentPage={page.currentPage}
      totalPages={page.lastPage}
      baseUrl="/blog/"
      client:idle
    />
  </div>
</Layout>
